<html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style5.css' %}" type="text/css">

</head>
<div class="container">
    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card p-3 mt-3">
                <form method="post" action="/app/update2/{{cource3.courceid}}" enctype="multipart/form-data">
                    {% csrf_token %}

                    <center>
                        <h1 class="text-success">Edit Cource</h1>
                        <hr>
                    </center>


                    <div class="md-form mb-4 pink-textarea active-pink-textarea">
                        <i class="fa fa-angle-double-right prefix"></i>
                        
                        <input type="text"  name="cname" class="md-textarea form-control" rows="1" value="{{cource3.courcenames}}">
                        <label for="form22">C O U R S E N A M E</label>
                    </div>

                    
                    <div class="md-form amber-textarea active-amber-textarea">
                        <i class="fa fa-pencil-alt prefix"></i>
                        <input type="text" name="cdsp" class="md-textarea form-control" rows="6" value="{{cource3.coursedsp}}">
                        <label for="form22">C O U R S E D E S C R I P T I O N</label>
                    </div>

                    <div class="md-form amber-textarea active-amber-textarea">
                        <i class="fa fa-pencil-alt prefix"></i>
                        <input type="text" name="cmod" class="md-textarea form-control" rows="6" value="{{cource3.coursemodules}}">
                        <label for="form22">C O U R S E Modules</label>
                    </div>

                    <select class="form-control" name="clevel" value="{{cource3.courselevel}}">
    
                        <option>BEGINNER</option>
                        <option>INTERMEDIATE</option>
                        <option>PROFESSIONAL</option>
                    </select> 
                    <label>LEVEL</label>
                    <br>

                    <select class="form-control" name="pname" >
                        <option value="{{cource3.platformid.platformname}}">{{cource3.platformid.platformname}}</option>
                        {% for i in platform %}
                        <option value="{{i.platformname}}">{{i.platformname}}</option>
                        {% endfor %}
                        
                    </select> 
                    <label>PLATFORM</label>
                    <br>

        


                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 mt-4">
                                <button type="submit" class="btn btn-success w-100">EDIT</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>

                </form>
            </div>

        </div>
        <div class="col-md-2"></div>

    </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>