<html>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <head>
        {% load static %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style3.css' %}" type="text/css">

    </head>
    <nav>
        <div class="logo">
           Project Django
        </div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
           <i class="fa fa-bars"></i>
        </label>
        <ul>
           <li><a class="active" href="{% url 'dash' %}">Home</a></li>
           
          
    
        </ul>
     </nav>
    
    <div class="container">
        <div class="row ">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card p-3 mt-3">
                    <form method="post" action="{% url 'register4' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <center>
                            <h1 class="text-success">A D D New Questions</h1>
                            <hr>
                        </center>
                        <!-- <div class="md-form mb-4 pink-textarea active-pink-textarea">
                            <i class="fa fa-angle-double-right prefix"></i>
                            <input class="md-textarea form-control" rows="1" value="{{platformid.platformid}}">
                            <label for="form21">ID</label>
                        </div> -->

                        <div class="md-form mb-4 pink-textarea active-pink-textarea">
                            <i class="fa fa-angle-double-right prefix"></i>
                            <textarea  id="text" name="questionsname" class="md-textarea form-control" rows="1"></textarea>
                            <label for="form21">Questions</label>
                        </div>

                        
                        <div class="md-form amber-textarea active-amber-textarea">
                            <i class="fa fa-pencil-alt prefix"></i>
                            <textarea id="text" name="ans" class="md-textarea form-control" rows="1"></textarea>
                            <label for="form22">Answer</label>
                        </div>

                        <select class="form-control" name="vname" >
                            {% for i in tutorial %}
                            <option value="{{i.videoname}}">{{i.videoname}}</option>
                            {% endfor %}
                            
                            
                        </select>
                        <label>Video Name</label>
                        <br>

                        <select class="form-control" name="cname" >
                            {% for i in cource3 %}
                            <option value="{{i.courcenames}}">{{i.courcenames}}</option>
                            {% endfor %}
                            
                        </select> 
                        <label>Cource Name</label>
                        <br>

                        <div class="md-form amber-textarea active-amber-textarea">
                            <i class="fa fa-pencil-alt prefix"></i>
                            <textarea id="text" name="op1" class="md-textarea form-control" rows="1"></textarea>
                            <label for="form22">Option 1</label>
                        </div>
                        <div class="md-form amber-textarea active-amber-textarea">
                            <i class="fa fa-pencil-alt prefix"></i>
                            <textarea id="text" name="op2" class="md-textarea form-control" rows="1"></textarea>
                            <label for="form22">Option 2</label>
                        </div>
                        <div class="md-form amber-textarea active-amber-textarea">
                            <i class="fa fa-pencil-alt prefix"></i>
                            <textarea id="text" name="op3" class="md-textarea form-control" rows="1"></textarea>
                            <label for="form22">Option 3</label>
                        </div>



                        

                                                    
                            


                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4 mt-4">
                                    <button type="submit" class="btn btn-success w-100">A D D</button>
                                </div>
                                <div class="col-md-4"></div>
                            </div>

                    </form>
                </div>

            </div>
            <div class="col-md-2"></div>

        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    </body>

    </html>